@charset utf-8;

body {
    background-color: #8d5959;
    font-family: 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 1em;
}

.img-respontive {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.error-required {
    color: #ff0000;
}

#wrap {
    max-width: 980px;
    margin: 0 auto;
    background-color: #8d5959;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    background-color: #fff;
}

.logo {
    width: 300px;
    cursor: pointer;
}

.shoping-cart {
    width: 50px;
    cursor: pointer;
}

.page-header {
    position: relative;
    background-color: #642e2e;
    text-align: center;
}

.btn-back-container {
    display: block;
    position: absolute;
    width: 100%;
}

.btn-back {
    width: 80px;
    margin: 2.4% auto 0 3%;
    text-align: center;
}

.btn-back a {
    width: 100%;
    padding: 7% 0;
    border-radius: 3px;
    background-color: #aeb6ba;
    box-shadow: 1px 1px 5px #000;
    cursor: pointer;
}

.page-title {
    padding: 3% 0;
    font-weight: bold;
    color: #fff;
}

.navigation {
    margin: 5% 0;
}

/*ここからSTEP設定*/

.step-container {
    display: block;
    width: 100%;
    height: auto;
}

.step-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

.step-cont {
    display: flex;
    width: 23%;
    height: 70px;
}

.triangle-back {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #8d5959;
    background-color: #e2e5e6;
}

.triangle-back-cont1 {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #fcc77b;
    background-color: #fcc77b;
}

.triangle-back-cont2 {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #8d5959;
    background-color: #fb9406;
}

.triangle-foward {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #e2e5e6;
}

.triangle-foward-cont1 {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #fcc77b;
}

.triangle-foward-cont2 {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #fb9406;
}

.step-text-container {
    width: 80%;
    background-color: #e2e5e6;
    text-align: center;
    color: #fff;
}

.cont1 {
    background-color: #fcc77b;
}

.cont2 {
    background-color: #fb9406;
    font-weight: bold;
}

.step-name {
    margin: 10px 0 15px;
}

.cont1 .step-name {
    margin: 10px 0 7px;
}

.small {
    font-size: 0.5em;
    line-height: 1.2em;
}

/*STEP設定ここまで*/

.content-area {
    padding: 0 3% 5%;
}

.checkout-container {
    padding: 5% 3%;
    border-radius: 8px;
    background-color: #fff;
}

.icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1%;
}

.icon-brand {
    height: 50px;
    margin-right: 10%;
}

form {
    margin-top: 4%;
}

form p {
    line-height: 1.7em;
}

#credit-number1, #credit-number2, #credit-number3, #credit-number4, #security-code {
    width: 4em;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid #aeb6ba;
    border-radius: 4px;
    font-size: 1em;
}

#given-name, #family-name {
    width: 40%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid #aeb6ba;
    border-radius: 4px;
    font-size: 1em;
}

/*ここからプルダウン設定*/

.select-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}

.select-inner p {
    font-size: 1.2em;
}

.dropdown {
    overflow: hidden;
    width: 74px;
    height: 36px;
    text-align: center;
}

.dropdown select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding-right: 1em;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.dropdown select:-ms-expand {
    display: none;
}

.dropdown.dp {
    position: relative;
    border: 1px solid #aeb6ba;
    border-radius: 4px;
    background-color: #ffffff;
}

.dropdown.dp:before {
    position: absolute;
    top: 0.9em;
    right: 0.8em;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    pointer-events: none;
}

.dropdown.dp select {
    height: 36px;
    padding-left: 8px;
    font-size: 1em;
    color: #000;
}

/*プルダウン設定ここまで*/

.submit-container {
    margin: 4% 0 10%;
}

#submit-input {
    width: 100%;
    padding: 2.6% 10%;
    border: none;
    border-radius: 6px;
    background-color: #e2e5e6;
    box-shadow: 4px 4px 6px #5d393b;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .btn-back {
        margin: 3% auto 0 3%;
    }

    .btn-back a {
        padding: 7% 0;
        font-size: 1em;
    }

    .page-title {
        padding: 4% 0;
    }
    
    .step-inner {
        padding: 0;
    }
    
    .step-cont {
        width: 25%;
    }
     
    .step-name {
        margin: 10px 0 15px;
    }
    
    .cont1 .step-name {
        margin: 10px 0 6px;
    }
    
    .submit-container {
        margin: 6% 0 10%;
    }
}

@media screen and (max-width: 620px) {
    .step-cont {
        height: 60px;
    }

    .triangle-back {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 10px solid #8d5959;
    }

    .triangle-back-cont1 {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 10px solid #fcc77b;
    }

    .triangle-back-cont2 {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 10px solid #8d5959;
    }

    .triangle-foward {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 10px solid #e2e5e6;
    }

    .triangle-foward-cont1 {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 10px solid #fcc77b;
    }

    .triangle-foward-cont2 {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 10px solid #fb9406;
    }

    .step-text-container {
        width: 90%;
    }
    
    .step-text-container p {
        font-size: 0.8em;
    }
    
    .step-name {
        margin: 11px 0 13px;
    }
    
    .cont1 .step-name {
        margin: 11px 0 7px;
    }
    
    .icon-brand {
        height: 45px;
        margin-right: 5%;
    }
}

@media screen and (max-width: 450px) {
    .header-container {
        padding: 4% 3%;
    }

    .logo {
        width: 170px;
    }

    .shoping-cart {
        width: 27px;
    }

    .btn-back {
        width: 70px;
        margin: 2.5% auto 0 3%;
    }
      
    .step-text-container p {
        font-size: 0.7em;
    }

    .step-name {
        margin: 12px 0 12px;
    }

    .cont1 .step-name {
        margin: 12px 0 6px;
    }
    
    .icon-brand {
        height: 40px;
    }
    
    #given-name, #family-name {
        width: 49%;
    }
    
    #submit-input {
        box-shadow: 2px 2px 5px #5d393b;
    }
}

@media screen and (max-width: 375px) {
    .btn-back a {
        background-color: #aeb6ba;
    }

    .page-title {
        padding: 4.5% 0;
    }
    
    .checkout-container {
        padding: 6% 3%;
        border-radius: 4px;
    }

    .brand-container p, label {
        font-size: 0.8em;
    }

    .icon-brand {
        height: 35px;
    }
    
    .step-cont {
        width: 80.25px;
        height: 50px;
    }

    .triangle-back {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 7px solid #8d5959;
    }

    .triangle-back-cont1 {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 7px solid #fcc77b;
    }

    .triangle-back-cont2 {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 7px solid #8d5959;
    }

    .triangle-foward {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 7px solid #e2e5e6;
    }

    .triangle-foward-cont1 {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 7px solid #fcc77b;
    }

    .triangle-foward-cont2 {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 7px solid #fb9406;
    }

    .step-text-container {
        width: 66.25px;
    }
    
    .step-name {
        margin: 9px 0 13px;
    }

    .cont1 .step-name {
        margin: 9px 0 4px;
    }
    
    .step-text-container p {
        font-size: 0.6em;
    }
    
    .small {
        font-size: 0.6em;
    }
    
    form {
        margin-top: 6%;
    }

    form p {
        line-height: 1.5em;
    }
    
    input[type="text"] {
        padding: 0.3em;
    }
    
    #submit-input {
        padding: 4% 10%;
        border-radius: 4px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 160px;
    }

    .shoping-cart {
        width: 25px;
    }

    .btn-back {
        width: 50px;
        margin: 4.5% auto 0 3%;
    }

    .btn-back a {
        font-size: 0.7em;
        background-color: #aeb6ba;
    }

    .page-title {
        padding: 5% 0;
    }

    .icon-brand {
        height: 30px;
    }
    
    .step-cont {
        width: 72.5px;
    }
    
    .triangle-back {
        border-left: 6px solid #8d5959;
    }

    .triangle-back-cont1 {
        border-left: 6px solid #8d5959;
    }

    .triangle-back-cont2 {
        border-left: 6px solid #8d5959;
    }

    .triangle-foward {
        border-left: 6px solid #e2e5e6;
    }

    .triangle-foward-cont1 {
        border-left: 6px solid #fcc77b;
    }

    .triangle-foward-cont2 {
        border-left: 6px solid #fb9406;
    }
    
    .step-name {
        margin: 5px 0 14px;
    }

    .cont1 .step-name {
        margin: 5px 0 6px;
    }
    
    form p {
        line-height: 1.2em;
    }

    #credit-number1, #credit-number2, #credit-number3, #credit-number4, #security-code {
        font-size: 0.8em;
        padding: 0.2em;
    }

    #given-name, #family-name {
        width: 48.5%;
        padding: 0.2em;
        font-size: 0.8em;
    }
    
    .select-inner {
        width: 150px;
    }
    
    .dropdown {
        width: 58px;
        height: 22.09px;
    }
    
    .dropdown.dp:before {
        top: 0.5em;
        right: 0.4em;
    }
    
    .dropdown.dp select {
        height: 22.09px;
        padding: 2px 22px 2px 0.3em;
        font-size: 0.8em;
    }
    
    #submit-input {
        font-size: 1em;
    }
}

@media screen and (max-width: 290px) {
    .btn-back {
        width: 45px;
        margin: 5% auto 0 3%;
    }

    .page-title {
        padding: 6% 0;
        font-size: 0.8em;
    }

    .brand-container p, label {
        font-size: 0.6em;
    }
    
    .step-text-container p {
        font-size: 0.5em;
    }

    .small {
        font-size: 0.5em;
    }
    
    .icon-brand {
        height: 22px;
    }

    input[type="text"] {
        font-size: 0.6em;
    }
    
    #submit-input {
        font-size: 0.9em;
    }
}
